<% form_for(@connection) do |f| %>

<% if @user %>
    <%= hidden_field_tag('connection[person_id]', @user.id) %>
<% end %>

<fieldset>   
    <ol>   
	<li>
		<%= f.label(:name) %>
  		<%= f.text_field(:name, :size => '25') %></li>
	<li>
		<%= f.label(:username) %>
		<%= f.text_field(:username, :size => '25') %></li>
	<li>
		<%= f.label(:password) %>
		<%= f.text_field(:password, :size => '25') %></li>
	<li>
		<%= f.label(:url) %></td>
		<%= f.text_field(:url, :size => '50') %></li>
	<li>
		<%= f.label(:description) %></td>
		<%= f.text_area(:description, :cols => '50', :rows => '3') %></li></ol></fieldset>
<fieldset class="submit">
	<%= f.submit(@connection.id ? 'update' : 'create') %></fieldset>

<% end %>
