<div class="modal-dialog">
    <div class="modal-content">
        <%= simple_form_for(@connection, remote: true, html: { class: 'form-horizontal condensed' }) do |f| %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><%= @connection.new_record? ? 'new' : 'update' %> connection</h3>
            </div>
            <div class="modal-body">
                <%= f.input :name %>
                <%= f.input :username %>
                <%= f.input :password, as: :string %>
                <%= f.input :url %>
                <%= f.input :tags %>
                <%= tags_field('connection') %>
                <%= f.input :description %>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
