<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>connection details</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed data-display">
        <tbody>
            <tr>
                <td class="display-label">name</td><td><%= @connection.name %></td></tr>
            <tr>
                <td class="display-label">username</td><td><%= @connection.username %></td></tr>
            <tr>
                <td class="display-label">password</td><td><%= @connection.password %></td></tr>
            <tr>
                <td class="display-label">url</td><td><%= @connection.url %></td></tr>
            <tr>
                <td class="display-label">tags</td><td><%= @connection.tags %></td></tr>
            <tr>
                <td class="display-label">description</td><td><%= @connection.description %></td></tr>
        <tbody>
    </table>
</div>