<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>connection details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 display-label">name</div>
        <div class="col-md-7"><%= @connection.name %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">username</div>
        <div class="col-md-7"><%= @connection.username %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">password</div>
        <div class="col-md-7"><%= @connection.password %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">url</div>
        <div class="col-md-7"><%= @connection.url %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">tags</div>
        <div class="col-md-7"><%= @connection.tags %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">description</div>
        <div class="col-md-7"><%= @connection.description %></div>
      </div>
    </div>
  </div>
</div>
