<table cellpadding="3" cellspacing="0" border="0" align="center">
    <tr>
        <td><label>name</label></td><td><%= @connection.name %></td></tr>
    <tr>
        <td><label>username</label></td><td><%= @connection.username %></td></tr>
    <tr>
        <td><label>password</label></td><td><%= @connection.password %></td></tr>
    <tr>
        <td><label>url</label></td><td><%= @connection.url %></td></tr>
    <tr>
        <td><label>description</label></td><td><%= @connection.description %></td></tr>
</table>