<html>
<head>
    <title><%= @connection.name %></title>
    <%= stylesheet_link_tag 'brainpad' %>
</head>

<body style="margin-top: 50px;">

    <table cellpadding="3" cellspacing="0" border="0" align="center">
        <tr>
            <td><div class="label">name</div></td><td><%= @connection.name %></td></tr>
        <tr>
            <td><div class="label">username</div></td><td><%= @connection.username %></td></tr>
        <tr>
            <td><div class="label">password</div></td><td><%= @connection.password %></td></tr>
        <tr>
            <td><div class="label">url</div></td><td><%= @connection.url %></td></tr>
        <tr>
            <td><div class="label">description</div></td><td><%= @connection.description %></td></tr>
    </table>
  
  </body>
</html>