<tr class="<%= data_rows_counter.modulo(2).nonzero? ? "dataOn" : "dataOff" %>">
    <td><%= data_rows['workout_on'].strftime("%a %b %d, %y") %></td>
    <td><%= Lookup.find_by_id(data_rows['workout_type']).description %></td>
    <td>
        <% if data_rows['route'] && data_rows['route'].length > 0 %>
                    <a href="http://www.gmap-pedometer.com/?r=<%= data_rows['route'] %>" target="_blank">
                        <%= data_rows['location'] %></a>
                <% else %>
                    <%= data_rows['location'] %>
                <% end %></td>
    <td><%= data_rows['distance'] %></td>
    <td><%= data_rows['duration'] %></td>
    <td><%= link_to(image_tag('detail.png', :size => '15x15', :border => 0),workout_path(data_rows),{:target => 'detail', :onClick => "openWindow(300,300,'detail');"}) %></td>
    <td><%= link_to_remote(image_tag('edit.png', :size => '15x15', :border => 0), :update => 'form', :method => :get, :url => edit_workout_path(data_rows)) %></td>
    <td><%= link_to(image_tag('delete.png', :size => '15x15', :border => 0), 
                    {:action => 'delete', :id => data_rows['id']},
                     :confirm => "really delete #{data_rows['location']} workout?") %></td></tr>
