<tr class="<%= data_rows_counter.modulo(2).nonzero? ? "dataOn" : "dataOff" %>">
    <td><%= link_to(data_rows['workout_on'].strftime("%a %b %d, %y"), edit_workout_path(data_rows), {:class => 'remote_edit_link', :id => "workouts_#{data_rows.id}"}) %></td>
    <td><%= Lookup.find_by_id(data_rows['workout_type']).description %></td>
    <td>
        <% if data_rows['route'] %>
      <% route = Lookup.find(data_rows['route']) %>
            <a href="http://www.gmap-pedometer.com/?r=<%= route.code %>" target="_blank">
                <%= data_rows['location'] %></a>
        <% else %>
            <%= data_rows['location'] %>
        <% end %></td>
    <td><%= data_rows['distance'] %></td>
    <td><%= data_rows['duration'] %></td>
    <td><%= link_to(image_tag("detail.png", :size => "15x15", :border => 0), workout_path(data_rows), :class => 'get') %></td>
    <td><%= link_to(image_tag('delete.png', :size => '15x15', :border => 0), workout_path(data_rows), :method => :delete, :confirm => "really delete #{data_rows['location']} workout?") %></td></tr>
