<div class="modal-dialog">
  <div class="modal-content">
    <%= form_for(@workout, html: { class: 'form-horizontal' }) do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3><%= @workout.new_record? ? 'new' : 'update' %> workout</h3>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="tags" class="col-sm-2 control-label">tags</label>
          <div class="col-sm-6">
            <%= f.text_field :tags, class: 'form-control' %>
          </div>
          <div class="col-sm-4">
            <%= tags_field('workout', 'workout_description') %>
          </div>
        </div>
        <div class="form-group">
          <label for="workout_on" class="col-sm-2 control-label">workout_on</label>
          <div class="col-sm-4">
            <%= f.text_field :workout_on, class: 'form-control datetime-picker-today' %>
          </div>
          <label for="location" class="col-sm-2 control-label">location</label>
          <div class="col-sm-4">
            <%= f.text_field :location, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label for="race" class="col-sm-2 control-label">race</label>
          <div class="col-sm-4">
            <%= f.text_field :race, class: 'form-control' %>
          </div>
          <label for="route" class="col-sm-2 control-label">route</label>
          <div class="col-sm-4">
          <%= f.collection_select(:route_id, @routes, :id, :description, { include_blank: true }, class: 'form-control') %>
          </div>
        </div>
        <div class="form-group">
          <label for="distance" class="col-sm-2 control-label">distance</label>
          <div class="col-sm-4">
            <%= f.text_field :distance, class: 'form-control' %>
          </div>
          <label for="duration" class="col-sm-2 control-label">duration</label>
          <div class="col-sm-4">
            <%= f.text_field :duration, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label for="intensity" class="col-sm-2 control-label">intensity</label>
          <div class="col-sm-4">
            <%= f.select :intensity, Workout::INTENSITIES, { include_blank: true }, class: 'form-control' %>
          </div>
          <label for="weight" class="col-sm-2 control-label">weight</label>
          <div class="col-sm-4">
            <%= f.text_field :weight, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <label for="description" class="col-sm-2 control-label">description</label>
          <div class="col-sm-10">
            <%= f.text_area :description, rows: 3, class: 'form-control' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a class="btn btn-link" data-dismiss="modal">cancel</a>
        <%= f.button :submit, class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
