<%= form_with(model: @workout, local: true) do |f| %>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= @workout.new_record? ? 'new' : 'update' %> workout</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group row">
                        <%= f.label(:tags, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-6 pr-0">
                            <%= f.text_field(:tags, id: 'workout-tags', class: 'form-control focus') %>
                        </div>
                        <div class="col-sm-4 pl-0">
                            <%= render partial: 'shared/tags_field', locals: { kind: 'workout', desc_field: nil } %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:workout_on, 'On', class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:workout_on, id: 'workout-on', class: 'form-control') %>
                        </div>
                        <%= f.label(:location, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                          <%= f.text_field(:location, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:race, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:race, class: 'form-control') %>
                        </div>
                        <%= f.label(:route, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                          <%= f.collection_select(:route_id, @routes, :id, :description, { include_blank: true }, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:distance, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:distance, class: 'form-control') %>
                        </div>
                        <%= f.label(:duration, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                          <%= f.text_field(:duration, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:intensity, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.select(:intensity, Workout::INTENSITIES, { include_blank: true }, class: 'form-control') %>
                        </div>
                        <%= f.label(:weight, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                          <%= f.text_field(:weight, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:description, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-10">
                            <%= f.text_area(:description, rows: 3, class: 'form-control') %>
                        </div>
                    </div>
                </div>
            </div> <!-- end .modal-body -->
            <div class="modal-footer">
                <div class="form-group row text-right">
                    <div class="col">
                        <%= link_to('cancel', '#', data: { dismiss: 'modal' }) %>
                        <%= f.submit class: 'btn btn-primary' %>
                    </div>
                </div>
            </div> <!-- end .modal-footer -->
        </div> <!-- end .modal-content -->
    </div> <!-- end .modal-dialog -->
<% end %>
