<%= simple_form_for(@workout, :html => {:class => 'form-horizontal condensed' }) do |f| %>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>new workout</h3>
    </div>
    <div class="modal-body">
        <%= f.input :person_id, as: :hidden, input_html: { value: current_user.id } %>
        <%= f.input :workout_type_id, collection: @types, value_method: '_id', label_method: 'description' %>
        <%= f.input :location %>
        <%= f.input :race %>
        <%= f.input :route_id, collection: @routes, value_method: '_id', label_method: 'description' %>
        <%= f.input(:workout_on, as: :string, input_html: {class: 'calendar', value: Date.today.strftime("%Y-%m-%d"), 'data-date-format' => "yyyy-mm-dd"}) %>
        <%= f.input :distance %>
        <%= f.input :duration %>
        <%= f.input :intensity, collection: (1..10).to_a %>
        <%= f.input :weight %>
        <%= f.input :description, :as => :text, :input_html => { :rows => 5 } %>
    </div>
    <div class="modal-footer">
        <%= f.button :submit, class: 'btn btn-primary' %>
    </div>
<% end %>