<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>workout details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 display-label">date</div>
        <div class="col-md-7"><%= @workout.workout_on.strftime("%a %b %d, %y") %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">tags</div>
        <div class="col-md-7"><%= @workout.tags %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">location</div>
        <div class="col-md-7"><%= @workout.location %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">description</div>
        <div class="col-md-7"><%= @workout.description %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">duration</div>
        <div class="col-md-7"><%= @workout.duration %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">distance</div>
        <div class="col-md-7"><%= @workout.distance %></div>
      </div>
    </div>
  </div>
</div>
