<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>workout details</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed data-display">
        <tbody>
            <tr>
                <td class="display-label">date</td><td><%= @contact.workout_on %></td></tr>
            <tr>
                <td class="display-label">type</td><td><%= @contact.type %></td></tr>
            <tr>
                <td class="display-label">location</td><td><%= @contact.location %></td></tr>
            <tr>
                <td class="display-label">description</td><td><%= @contact.description %></td></tr>
            <tr>
                <td class="display-label">duration</td><td><%= @contact.duration %></td></tr>
            <tr>
                <td class="display-label">distance</td><td><%= @contact.distance %></td></tr>
        <tbody>
    </table>
</div>