<% if @workout_summary %>
    <div class="row">
        <div class="col workout-dashboard">
            <div class="item">last 30 days:</div>
            <div class="item"><div class="data"><%= @workout_summary[:workout_days] %></div>workout days</div>
            <div class="item"><div class="data"><%= @workout_summary[:mileage] %></div>km</div>
            <div class="item"><div class="data"><%= @workout_summary[:duration] %></div>hours</div>
            <div class="item"><div class="data"><%= @workout_summary[:weight_range] %></div>weight</div>
            <div class="clear"></div>
        </div> <!-- end .workout-dashboard -->
    </div>
<% end %>

<div class="row">
    <div class="col-3 first-col reports-panel">
        <%= render 'duration_by_tag' %>
    </div>
    <div class="col-9 last-col list-panel">

        <%= render partial: 'shared/data_list_header', locals: { title: 'workouts', new_record_path: new_workout_path } %>

        <div class="data-list">
            <%= render partial: 'workouts' if @workouts.present? %>
        </div>
        <div class="tag-list">
            <%= tag_list 'workout' %>
        </div>
    </div> <!-- end .list-panel -->
</div> <!-- end .row -->
