<% if @workout_summary %>
<div class="dashboard">
    <table width="100%" border="0">
        <tr>
            <td>last 30 days:</td>
            <td><div class="summary_data"><%= @workout_summary.workout_days %></div>workout days</td>
            <td><div class="summary_data"><%= @workout_summary.mileage %></div>km</td>
            <td><div class="summary_data"><%= @workout_summary.duration / 60 %></div>hours</td>
            <td><div class="summary_data"><%= @workout_summary.weight_range %></div>weight</td></tr>
    </table>
</div>
<% end %>
<div class="dashboard search_form" style="display:none;">
    <% form_tag({:action => 'index'}, :method => 'get') do %>
        <label class="inline">location</label>
        <%= text_field_tag :q, h(params[:q]) %>
        <label class="inline">type</label>
        <%= select_tag(:type, options_for_select(Lookup.get_list('work_type').collect {|l| [ l.description, l.id ] }.insert(0, ''))) %>
        <label class="inline">from</label>
        <%= text_field_tag :start_on, h(params[:start_on]), :size => 12, :class => 'calendar' %>
        <label class="inline">to</label>
        <%= text_field_tag :end_on, h(params[:end_on]), :size => 12, :class => 'calendar' %>
        <%= submit_tag 'search' %>
        <%= submit_tag("x", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
    <% end %>
</div>


<!-- hidden elements -->
<div id="show" style="display:none;"></div>
<div id="workout_form" style="display:none;"><%= render(:partial => 'form') %></div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    buildFormDialog('workout');
    validate('new_workout');         
  });
</script>

<div id="secondary_panel">
    <div class="box">
      <div class="box_header">workout duration</div>
      <div class="box_content">
          <% for w in @workout_duration_by_type %>
        <% percentage = ((w[1].to_f / @workout_summary.duration) * 100).to_i %>
              <%= "#{w[0]} #{(Time.mktime(0)+(w[1]*60)).strftime("%H:%M")} [#{percentage}%]" %><br/>
              <% percentage = '1' if percentage.eql?'0' %>
              <%= image_tag('redbar.gif', :size => "#{(percentage*1.5).to_i}x12") %><br/>
          <% end %>
      </div>
      <div class="box_buttons"></div>
  </div> <!-- end box -->
</div> <!-- end secondary_panel -->

<% if (@workouts and @workouts.size > 0) %>
<div id="primary_panel">
  <div class="box">
      <div class="box_header">
          workouts
          <span style="float:right">
              <%= link_to(image_tag('search.png', :size => '15x15', :border => 0), '#', :class => 'toggle_search_form') %>
              <%= link_to(image_tag('add.png', :size => '15x15', :border => 0), '#', :class => 'show_workout_form') %>
          </span>
      </div>
      <div class="box_content">
        <table width="100%" cellpadding="2" cellspacing="0" class="searchResult">
            <tr>
                <th>date</th>
                <th>type</th>
                <th>location</th>
                <th>km</th>
                <th>min</th>
                <th colspan="2">&nbsp;</th></tr>
            
            <%= render(:partial => 'data_rows', :collection => @workouts) %>
        </table>
        <%= will_paginate @workouts, :inner_window => 1, :outer_window => 3 %>
      <%= @workouts.total_entries %> workouts
      </div>
  </div> <!-- end workouts -->
</div> <!-- end primary panel -->   
    
<% end %>

<div class="clear"/>
