<h1>Listing workouts</h1>

<table>
  <tr>
    <th>Location</th>
    <th>Race</th>
    <th>Route</th>
    <th>Description</th>
    <th>Duration</th>
    <th>Intensity</th>
    <th>Weight</th>
    <th>Distance</th>
    <th>Workout type</th>
    <th>Workout on</th>
    <th>Person</th>
  </tr>

<% @workouts.each do |workout| %>
  <tr>
    <td><%=h workout.location %></td>
    <td><%=h workout.race %></td>
    <td><%=h workout.route %></td>
    <td><%=h workout.description %></td>
    <td><%=h workout.duration %></td>
    <td><%=h workout.intensity %></td>
    <td><%=h workout.weight %></td>
    <td><%=h workout.distance %></td>
    <td><%=h workout.workout_type %></td>
    <td><%=h workout.workout_on %></td>
    <td><%=h workout.person_id %></td>
    <td><%= link_to 'Show', workout %></td>
    <td><%= link_to 'Edit', edit_workout_path(workout) %></td>
    <td><%= link_to 'Destroy', workout, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New workout', new_workout_path %>