<!-- hidden elements -->
<div id="workout-show" class="modal hide fade"></div>
<div id="workout-form" class="modal hide fade"></div>


<% if @workout_summary %>
    <div class="workout-dashboard">
        <div class="item">last 30 days:</div>
        <div class="item"><div class="data"><%= @workout_summary[:workout_days] %></div>workout days</div>
        <div class="item"><div class="data"><%= @workout_summary[:mileage] %></div>km</div>
        <div class="item"><div class="data"><%= @workout_summary[:duration] %></div>hours</div>
        <div class="item"><div class="data"><%= @workout_summary[:weight_range] %></div>weight</div>
        <div class="clear"></div>
    </div> <!-- end .dashboard -->
<% end %>

<div class="workouts-panel">
    <div class="reports-panel">
	    <div class="box">
    		<div class="boxhead">workout duration</div>
    		<div class="boxcontent">
    			<% for w in @workout_duration_by_type %>
    				<% percentage = ((w[1].to_f / @workout_summary[:duration]) * 100).to_i %>
    				<%= "#{w[0]} #{(Time.mktime(0)+(w[1]*60)).strftime("%H:%M")} [#{percentage}%]" %><br/>
    				<% percentage = '1' if percentage.eql?'0' %>
    				<%= image_tag('redbar.gif', :width => "#{(percentage*1.5).to_i}", :class => 'bar') %><br/>
    			<% end %>
    		</div>
    	</div> <!-- end box -->
    </div>
    <div class="list-panel">
        
        <!-- search form -->
        <div id="search" class="collapse">
            <%= form_tag({:action => 'index'}, :method => 'get', :class => 'form-search') do %>
                <div class="input-append">
                    <%= text_field_tag(:q, h(params[:q]), :class => 'input-medium search-query') %>
                    <%= submit_tag('search', :class => 'btn') %>
                </div>
            <% end %>
        </div>
       
        <!-- add and search buttons --> 
        <div class="pull-right">
            <%= link_to(new_workout_path, :remote => true, :class => "btn btn-primary") do %>
                <i class="icon-plus icon-white"></i> add
            <% end %>
            <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search">
              <i class="icon-search icon-white"></i> find
            </button>
        </div>
        <div id="workout-list">
            <%= render(:partial => 'workouts') %>
        </div>
    </div>
    <div class="clear"></div>
</div> <!-- end .workouts-panel -->