<html>
<head>
    <title>reminder</title>
    <%= stylesheet_link_tag 'brainpad' %>
</head>

<body style="margin-top: 50px;">

    <table cellpadding="3" cellspacing="0" border="0" align="center">
    	<tr>
            <td><label>date</label></td><td><%= @workout.workout_on %></td></tr>
		<tr>
            <td><label>type</label></td><td><%= Lookup.find_by_id(@workout.workout_type).description %></td></tr>
        <tr>
            <td><label>location</label></td><td><%= @workout.location %></td></tr>
        <tr>
            <td><label>description</label></td><td><%= @workout.description %></td></tr>
        <tr>
            <td><label>duration</label></td><td><%= @workout.duration %> minutes</td></tr>
        <tr>
            <td><label>distance</label></td><td><%= @workout.distance %></td></tr>
    </table>
  
  </body>
</html>