<% form_for(@milestone) do |f| %>

<% if @user %>
    <%= hidden_field_tag('milestone[person_id]', @user.id) %>
<% end %>

<fieldset>
  	<ol>   
  	<li>
  		<%= f.label(:name) %>
        <%= f.text_field(:name, :size => '37', :class => 'required') %></li>
	<li>
        <%= f.label(:milestone_at, 'At') %>
        <%= f.text_field(:milestone_at, :size => '19', :class => 'calendar required') %></li></ol></fieldset>
<fieldset class="submit">
    	<%= f.submit(@milestone.id ? 'update' : 'create') %></fieldset>
	
<% end %>