<script>
	$(function() {
		$( "#milestone_milestone_at" ).datepicker();
		$( "#milestone_milestone_at" ).datepicker( "option", "dateFormat", "yy-mm-dd" );
	});
</script>

<% form_for(@milestone) do |f| %>

<% if session[:user_id] %>
    <%= hidden_field_tag('milestone[person_id]',session[:user_id]) %>
<% end %>
<table cellpadding="3" cellspacing="0" border="0">
    <tr>
        <td id="errors" colspan="7">
            <% unless @milestone.errors.empty? %>
                <ul>
                <% @milestone.errors.each_full do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            <% end %></td></tr>
    <tr>
        <td><%= f.label(:name) %></td>
        <td><%= f.text_field(:name, :size => '37', :class => 'text') %></td>
        <td><%= f.label(:milestone_at, 'At') %></td>
        <td width="200"><%= f.text_field(:milestone_at, :size => '19', :class => 'text') %></td>
        <td class="submit">
            <%= f.submit(@milestone.id ? 'update' : 'create') %></td></tr>
</table>
<% end %>