<div class="modal-dialog">
    <div class="modal-content">
        <%= simple_form_for(@person, html: { class: 'form-horizontal condensed' }) do |f| %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><%= @person.new_record? ? 'sign up' : 'update profile' %></h3>
            </div>
            <div class="modal-body">
                <%= f.input :roles, as: :hidden, input_html: { value: '[user]' } %>
                <%= f.input :username %>
                <%= f.input :password %>
                <%= f.input :password_confirmation %>
                <%= f.input :born_on, as: :calendar, label: 'Birth Date' %>
                <%= f.input :email %>
                <%= f.input :phone %>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, @person.valid? ? 'update' : 'sign up', class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
