<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :mail_url %><br />
    <%= f.text_field :mail_url %>
  </p>
  <p>
    <%= f.label :banking_url %><br />
    <%= f.text_field :banking_url %>
  </p>
  <p>
    <%= f.label :map_center %><br />
    <%= f.text_field :map_center %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>