<p>
  <b>User name:</b>
  <%=h @person.user_name %>
</p>

<p>
  <b>Mail url:</b>
  <%=h @person.mail_url %>
</p>

<p>
  <b>Banking url:</b>
  <%=h @person.banking_url %>
</p>

<p>
  <b>Map center:</b>
  <%=h @person.map_center %>
</p>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>