<div class="modal-dialog">
    <div class="modal-content">
        <%= simple_form_for(@reminder, remote: true, html: { class: 'form-horizontal condensed' }) do |f| %>
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h3><%= @reminder.new_record? ? 'new' : 'update' %> reminder</h3>
            </div>
            <div class="modal-body">
                <%= f.input :reminder_type_id, collection: @types, value_method: '_id', label_method: 'description' %>
                <%= f.input :priority_id, collection: @priorities, value_method: '_id', label_method: 'description' %>
                <%= f.input :due_at, as: :calendar %>
                <%= f.input :tags %>
                <%= tags_field('reminder', 'reminder_description') %>
                <%= f.input :description, as: :text, input_html: { rows: 3 } %>
                <%= f.input :done, as: :boolean %>
                <fieldset>
                    <legend>schedule</legend>
                    <%= f.input :frequency, collection: @frequencies, value_method: '_id', label_method: 'description' %>
                    <%= f.input :repeat_until, as: :calendar %>
                </fieldset>
            </div>
            <div class="modal-footer">
                <%= f.button :submit, class: 'btn btn-primary' %>
            </div>
        <% end %>
    </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
