<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>reminder details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 display-label">type</div>
        <div class="col-md-7"><%= @reminder.reminder_type.description if @reminder.reminder_type %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">priority</div>
        <div class="col-md-7"><%= @reminder.priority.description if @reminder.priority %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">due</div>
        <div class="col-md-7"><%= @reminder.due_at.strftime("%a %b %d, %y") %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">tags</div>
        <div class="col-md-7"><%= @reminder.tags %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">description</div>
        <div class="col-md-7"><%= @reminder.description %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">created on</div>
        <div class="col-md-7"><%= @reminder.created_at.strftime("%a %b %d, %y") %></div>
      </div>
    </div>
  </div>
</div>