<table cellpadding="3" cellspacing="0" border="0" align="center">
    <tr>
        <td><label>type</label></td><td><%= Lookup.find_by_id(@reminder.reminder_type).description %></td></tr>
    <tr>
        <td><label>priority</label></td><td><%= Lookup.find_by_id(@reminder.priority).description %></td></tr>
    <tr>
        <td><label>due</label></td><td><%= @reminder.due_on.strftime("%a %b %d, %y") %></td></tr>
    <tr>
        <td><label valign="top">tags</label></td><td><%= @reminder.tags %></td></tr>
    <tr>
        <td><label valign="top">description</label></td><td><%= @reminder.description %></td></tr>
    <tr>
        <td><label>created on</label></td><td><%= @reminder.created_at.strftime("%a %b %d, %y") %></td></tr>
</table>