<div id="show" style="display:none;"></div>

<div id="reminder_form" style="display:none;"><%= render(:partial => 'form') %></div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    buildFormDialog('reminder');
    validate('new_reminder');         
  });
</script>

<%= link_to(image_tag('add.png', :size => '15x15', :border => 0), '#', :class => 'show_reminder_form') %>

<% if (@reminders and @reminders.size > 0) %>
<% form_tag(:action => 'finish') do %>
<table width="100%" cellpadding="2" cellspacing="0" class="searchResult">
    <tr>
        <th>date</th>
        <th>type</th>
        <th>priority</th>
        <th>description</th>
        <th>done</th>
        <th colspan="2">&nbsp;</th></tr>

    <%= render(:partial => 'data_rows', :collection => @reminders) %>
    <tr>
        <td colspan="4"><%= will_paginate @reminders %></td>
        <td><%= submit_tag('>>') %></td>
        <td colspan="3">&nbsp;</td></tr>
</table>
<% end %>
<% end %>