<html>
<head>
    <title>reminder</title>
    <%= stylesheet_link_tag 'brainpad' %>
</head>

<body style="margin-top: 50px;">

    <table cellpadding="3" cellspacing="0" border="0" align="center">
        <tr>
            <td><div class="label">type</div></td><td><%= Lookup.find_by_id(@reminder.reminder_type).description %></td></tr>
        <tr>
            <td><div class="label">priority</div></td><td><%= Lookup.find_by_id(@reminder.priority).description %></td></tr>
        <tr>
            <td><div class="label">due</div></td><td><%= @reminder.due.strftime("%a %b %d, %y") %></td></tr>
        <tr>
            <td><div class="label" valign="top">description</div></td><td><%= @reminder.description %></td></tr>
        <tr>
            <td><div class="label">created on</div></td><td><%= @reminder.created_at.strftime("%a %b %d, %y") %></td></tr>
    </table>
  
  </body>
</html>