<% form_for(@contact) do |f| %>

<% if @user %>
    <%= hidden_field_tag('contact[person_id]', @user.id) %>
<% end %>
<table cellpadding="3" cellspacing="0" border="0">
    <tr>
        <td id="errors" colspan="5">
            <% unless @contact.errors.empty? %>
                <ul>
                <% @contact.errors.each_full do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            <% end %></td>
            <% if flash[:notice] %>
                <div class="notice"><%=h flash[:notice] %></div>
            <% end %></td></tr>
    <tr>
        <td><%= f.label(:name) %></td>
        <td><%= f.text_field(:name, :class => 'text') %></td>
        <td><%= f.label(:email) %></td>
        <td><%= f.text_field(:email, :class => 'text') %></td>
        <td rowspan="5">&nbsp;</td></tr>
    <tr>
        <td><%= f.label(:address) %></td>
        <td><%= f.text_field(:address, :class => 'text') %></td>
        <td><%= f.label(:city) %></td>
        <td><%= f.text_field(:city, :class => 'text') %></td></tr>
    <tr>
        <td><%= f.label(:phone_home, 'Phone') %></td>
        <td><%= f.text_field(:phone_home, :class => 'text') %></td>
        <td><%= f.label(:phone_work, 'Work') %></td>
        <td><%= f.text_field(:phone_work, :class => 'text') %></td></tr>
    <tr>
        <td><%= f.label(:tags) %></td>
        <td colspan="3"><%= f.text_field(:tags, :size => '70', :class => 'text') %></td></tr>
    <tr>
        <td><%= f.label(:comments) %></td>
        <td colspan="3" rowspan="2"><%= f.text_area(:comments, :cols => 73, :rows => 3) %></td></tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td class="submit">
            <%= f.submit(@contact.id ? 'update' : 'create') %></td></tr>
</table>

<% end %>
