<% form_for(@contact) do |f| %>

<% if session[:user_id] %>
    <%= hidden_field_tag('contact[person_id]',session[:user_id]) %>
<% end %>
<table cellpadding="3" cellspacing="0" border="0">
    <tr>
        <td id="errors" colspan="5">
            <% unless @contact.errors.empty? %>
                <ul>
                <% @contact.errors.each_full do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            <% end %></td>
            <% if flash[:notice] %>
                <div class="notice"><%=h flash[:notice] %></div>
            <% end %></td></tr>
    <tr>
        <td><div class="label">name</div></td>
        <td><%= f.text_field(:name, :class => 'text') %></td>
        <td><div class="label">email</div></td>
        <td><%= f.text_field(:email, :class => 'text') %></td>
        <td rowspan="5">&nbsp;</td></tr>
    <tr>
        <td><div class="label">address</div></td>
        <td><%= f.text_field(:address, :class => 'text') %></td>
        <td><div class="label">city</div></td>
        <td><%= f.text_field(:city, :class => 'text') %></td></tr>
    <tr>
        <td><div class="label">home</div></td>
        <td><%= f.text_field(:phone_home, :class => 'text') %></td>
        <td><div class="label">work</div></td>
        <td><%= f.text_field(:phone_work, :class => 'text') %></td></tr>
    <tr>
        <td><div class="label">tags</div></td>
        <td colspan="3"><%= f.text_field(:tags, :size => '70', :class => 'text') %></td></tr>
    <tr>
        <td><div class="label">comments</div></td>
        <td colspan="3" rowspan="2"><%= f.text_area(:comments, :cols => 73, :rows => 3) %></td></tr>
    <tr>
        <td colspan="4">&nbsp;</td>
        <td class="submit">
            <%= f.submit(@form_btn_label) %></td></tr>
</table>

<% end %>
