<%= form_with(model: @contact) do |f| %>
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><%= @contact.new_record? ? 'new' : 'update' %> contact</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="form-group row">
                        <%= f.label(:name, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-10">
                            <%= f.text_field(:name, class: 'form-control focus') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:email, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-10">
                            <%= f.text_field(:email, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:address, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:address, class: 'form-control') %>
                        </div>
                        <%= f.label(:city, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:city, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:phone_home, 'Phone home', class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:phone_home, class: 'form-control') %>
                        </div>
                        <%= f.label(:phone_work, 'work', class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-4">
                            <%= f.text_field(:phone_work, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:tags, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-6 pr-0">
                            <%= f.text_field(:tags, id: 'contact-tags', class: 'form-control') %>
                        </div>
                        <div class="col-sm-4 pl-0">
                            <%= render partial: 'shared/tags_field', locals: { kind: 'contact', desc_field: nil } %>
                        </div>
                    </div>
                    <div class="form-group row">
                        <%= f.label(:comments, class: 'col-sm-2 col-form-label text-right') %>
                        <div class="col-sm-10">
                            <%= f.text_field(:comments, class: 'form-control') %>
                        </div>
                    </div>
                    <div class="form-group row text-right">
                        <div class="col">
                            <%= link_to('cancel', '#', data: { dismiss: 'modal' }) %>
                            <%= f.submit class: 'btn btn-primary' %>
                        </div>
                    </div>
                </div>
            </div> <!-- end .modal-body -->
        </div> <!-- end .modal-content -->
    </div> <!-- end .modal-dialog -->
<% end %>
