<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>contact details</h3>
</div>
<div class="modal-body">
    <table class="table table-condensed data-display">
        <tbody>
            <tr>
                <td class="display-label">name</td><td><%= @contact.name %></td></tr>
            <tr>
                <td class="display-label">email</td><td><%= @contact.email %></td></tr>
            <tr>
                <td class="display-label">home</td><td><%= @contact.phone_home %></td></tr>
            <tr>
                <td class="display-label">work</td><td><%= @contact.phone_work %></td></tr>
            <tr>
                <td class="display-label">cell</td><td><%= @contact.phone_cell %></td></tr>
            <tr>
                <td class="display-label">address</td><td><%= @contact.address %></td></tr>
            <tr>
                <td class="display-label">city</td><td><%= @contact.city %></td></tr>
            <tr>
                <td class="display-label">tags</td><td><%= @contact.tags %></td></tr>
            <tr>
                <td class="display-label">comments</td><td colspan="3"><%= @contact.comments %></td></tr>
        <tbody>
    </table>
</div>