<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>contact details</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5 display-label">name</div>
        <div class="col-md-7"><%= @contact.name %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">email</div>
        <div class="col-md-7"><%= @contact.email %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">home phone</div>
        <div class="col-md-7"><%= @contact.phone_home %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">work phone</div>
        <div class="col-md-7"><%= @contact.phone_work %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">cell phone</div>
        <div class="col-md-7"><%= @contact.phone_cell %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">address</div>
        <div class="col-md-7"><%= @contact.address %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">city</div>
        <div class="col-md-7"><%= @contact.city %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">tags</div>
        <div class="col-md-7"><%= @contact.tags %></div>
      </div>
      <div class="row">
        <div class="col-md-5 display-label">comments</div>
        <div class="col-md-7"><%= @contact.comments %></div>
      </div>
    </div>
  </div>
</div>
