<div id="show" style="display:none;"></div>

<div id="contact_form" style="display:none;"><%= render(:partial => 'form') %></div>

<script type="text/javascript">
  jQuery(document).ready(function() {
    buildFormDialog('contact');
    validate('new_contact');         
  });
</script>

<% if (@contacts and @contacts.size > 0) %>
<div id="primary_panel_full">
  <div class="box">
      <div class="box_header">
          contacts
          <span style="float:right">
              <%= link_to(image_tag('add.png', :size => '15x15', :border => 0), '#', :class => 'show_contact_form') %>
          </span>
      </div>
      <div class="box_content">
        <table width="100%" cellpadding="2" cellspacing="0" class="searchResult">
            <tr>
                <th>name</th><th>email</th><th>home</th><th>work</th><th>cell</th>
              <th colspan="2">&nbsp;</th></tr>
            
            <%= render(:partial => 'data_rows', :collection => @contacts) %>
        </table>
        <%= will_paginate @contacts, :inner_window => 1, :outer_window => 3  %>
      <%= @contacts.total_entries %> contacts
      </div>
  </div> <!-- end contacts -->
</div> <!-- end primary_panel_full -->  
<% end %>

<div class="clear"/>

<p>
tags
<% for cur_tag in session[:contact_tags] %>
    <%= link_to(cur_tag, :controller => 'contacts', :tag => cur_tag) %>,
<% end %><p/>