<div class="dashboard search_form" style="display:none;">
    <% form_tag({:action => 'index'}, :method => 'get') do %>
        <label class="inline">name</label>
        <%= text_field_tag :q, h(params[:q]) %>
        <%= submit_tag 'search' %>
        <%= submit_tag("x", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
    <% end %>
</div>

<!-- hidden elements -->
<div id="contact-show" class="modal hide fade"></div>
<div id="contact-form" class="modal hide fade"></div>

<div class="pull-right">
    <%= link_to(new_contact_path, :remote => true, :class => "btn btn-primary") do %>
        <i class="icon-plus icon-white"></i> add
    <% end %>
</div>

<div id="contact-list">
    <%= render(:partial => 'contacts') %>
</div>

<p>
tags
<% for cur_tag in session[:contact_tags] %>
    <%= link_to(cur_tag, :controller => 'contacts', :tag => cur_tag) %>,
<% end %><p/>