<% if (@contacts and @contacts.size > 0) %>
<table width="100% cellpadding="2" cellspacing="0" class="searchResult">
    <tr>
        <th>name</th>
        <th>email</th>
        <th>home</th>
        <th>work</th>
        <th>cell</th>
        <th colspan="3">&nbsp;</th></tr>

    <%= render(:partial => 'data_rows', :collection => @contacts) %>
</table>
<%= will_paginate @contacts %>
<% end %>

<p>
<span class="label">tags</span>
<%= link_to('refresh', :action => "refresh_tags") %><br/>
<% for cur_tag in session[:contact_tags] %>
    <%= link_to(cur_tag, contacts_path, :tag => cur_tag) %>,
<% end %><p/>
<h3><%= @form_header %></h3> 
<div class="form">
<% form_tag(:action => @form_action) do %>
<%= render(:partial => 'form') %>
<% end %></div>