<html>
<head>
    <title><%= @contact.name %></title>
    <%= stylesheet_link_tag 'brainpad' %>
</head>

<body style="margin-top: 50px;">

    <table cellpadding="3" cellspacing="0" border="0" align="center">
        <tr>
            <td><div class="label">name</div></td><td><%= @contact.name %></td></tr>
        <tr>
            <td><div class="label">email</div></td><td><%= @contact.email %></td></tr>
        <tr>
            <td><div class="label">home</div></td><td><%= @contact.phone_home %></td></tr>
        <tr>
            <td><div class="label">work</div></td><td><%= @contact.phone_work %></td></tr>
        <tr>
            <td><div class="label">cell</div></td><td><%= @contact.phone_cell %></td></tr>
        <tr>
            <td><div class="label">address</div></td><td><%= @contact.address %></td></tr>
        <tr>
            <td><div class="label">city</div></td><td><%= @contact.city %></td></tr>
        <tr>
            <td><div class="label">tags</div></td><td><%= @contact.tags %></td></tr>
        <tr>
            <td><div class="label">comments</div></td><td colspan="3"><%= @contact.comments %></td></tr>
    </table>
  
  </body>
</html>