<html>
<head>
    <title><%= @contact.name %></title>
    <%= stylesheet_link_tag 'brainpad' %>
</head>

<body style="margin-top: 50px;">

    <table cellpadding="3" cellspacing="0" border="0" align="center">
        <tr>
            <td><label>name</label></td><td><%= @contact.name %></td></tr>
        <tr>
            <td><label>email</label></td><td><%= @contact.email %></td></tr>
        <tr>
            <td><label>home</divlabel</td><td><%= @contact.phone_home %></td></tr>
        <tr>
            <td><label>work</label></td><td><%= @contact.phone_work %></td></tr>
        <tr>
            <td><label>cell</label></td><td><%= @contact.phone_cell %></td></tr>
        <tr>
            <td><label>address</label></td><td><%= @contact.address %></td></tr>
        <tr>
            <td><label>city</label></td><td><%= @contact.city %></td></tr>
        <tr>
            <td><label>tags</label></td><td><%= @contact.tags %></td></tr>
        <tr>
            <td><label>comments</label></td><td colspan="3"><%= @contact.comments %></td></tr>
    </table>
  
  </body>
</html>