<div class="accordion" id="foobar">
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#foobar" href="#collapse-links">links</a>
        </div>
        <div id="collapse-links" class="accordion-body collapse in">
            <div class="accordion-inner">
                <div class="container">
                    <div class="row">
                        <div class="span3">
                            <h4>often</h4>
                            <ul>
                            <%= render @most_often_1 %>
                            </ul>
                        </div>
                        <div class="span2">
                            <h4>recent</h4>
                            <ul>
                            <%= render @recently_clicked %>
                            </ul>
                        </div>
                        <div class="span2">
                            <h4>new</h4>
                            <ul>
                            <%= render @recently_added %>
                            </ul>
                        </div>
                        <div class="span2">
                            <h4>random</h4>
                            <ul>
                            <%= render @random %>
                            </ul>
                        </div>
                    </div> <!-- end .row -->
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#foobar" href="#collapse-feeds">feeds</a>
        </div>
        <div id="collapse-feeds" class="accordion-body collapse">
            <div class="accordion-inner">
                Anim pariatur cliche feeds...
            </div>
        </div>
    </div>
</div>




<% unless @due_today.empty? %>
<label class="page">due today:</label>
<ul class="due">
    <% for reminder in @due_today %>
    <li><%= reminder.description[0,40] + (reminder.description.length > 40 ? '...' : '') %></li>
    <% end %>
</ul>
<% end %>

<% if @milestone %>
<div>
    <label class="page">next milestone:</label>  
    <%= @milestone.name %>
    <input type="text" class="milestone_time" id="<%= @milestone.id %>" size="30" />
    
    <script type="text/javascript">
        count('<%= @milestone.id %>', '<%= @milestone.milestone_at %>');
    </script>
</div>
<% end %>
