<% if flash[:notice] %>
    <div class="notice"><%=h flash[:notice] %></div><p/>
<% end %>

<div class="left">
    <div class="label" style="text-align:left;">often</div>
    <ul class="links">
    <% for cur_link in @most_often_1 %>
        <li>(<%=link_to(cur_link.clicks, :action => "edit", :id => cur_link.id) %>)<%=link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %></li>
    <% end %>
    </ul>
</div>

<div class="left">
    <div class="label" style="text-align:left;">&nbsp;</div>
    <ul class="links">
    <% for cur_link in @most_often_2 %>
        <li>(<%=link_to(cur_link.clicks, :action => "edit", :id => cur_link.id) %>)<%=link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %></li>
    <% end %>
    </ul>
</div>

<div class="left">
    <div class="label" style="text-align:left;">recent</div>
    <ul class="links">
    <% for cur_link in @recently_clicked %>
        <li><%= link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %></li>
    <% end %>
    </ul>
</div>

<div class="left">
    <div class="label" style="text-align:left;">new</div>
    <ul class="links">
    <% for cur_link in @recently_added %>
        <li><%= link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %></li>
    <% end %>
    </ul>
</div>

<div class="left">
    <div class="label" style="text-align:left;">random</div>
    <ul class="links">
    <% for cur_link in @random %>
        <li><%= link_to(cur_link.name[0,15], cur_link, :title => cur_link.get_description) %></li>
    <% end %>
    </ul>
</div>

<div class="left">
    <div class="label" style="text-align:left;">other</div>
    <ul class="links">
    <% if @user.mail_url %>
        <li><a href="<%=@user.mail_url%>">mail</a></li>
    <% end %>
    <% if @user.banking_url %>
        <li><a href="<%=@user.banking_url%>">banking</a></li>
    <% end %>
    <% if @user.map_center %>
        <li><a href="http://maps.google.ca/maps?ll=<%=@user.map_center%>&spn=0.127157,0.246901&hl=en">maps</a></li>
    <% end %>
        <li><a href="http://tvlistings3.zap2it.com/partners/grid.asp?partner_id=097">tv</a></li>
        <li><a href="javascript:location.href='http://brainpad.raceweb.ca/link/post?url='+encodeURIComponent(location.href)+'&name='+encodeURIComponent(document.title)">poster</a></li>
        <li><%= link_to('reports', {:controller => 'report', :action => 'index'}) %></li>
    </ul>
</div>

<div style="clear: left;"></div>

<div>
    <span class="label" style="text-align:left;">tags</span>
    <%= link_to('refresh', :action => "refresh_tags") %> |
    <%= link_to('edit links', :action => "list") %> |
    <%= link_to('find links', :action => "find") %> |
    <%= link_to('clean', :action => "clean") %><br/>

    <% for cur_tag in session[:tags] %>
        
        <%= link_to_remote(cur_tag,
                         :url => find_links_url(:tag => cur_tag), 
                         :update => "found_links") %>,
    <% end %><p/>

    <div  id="found_links"></div>
</div>

<div style="clear: left;"></div>

<% @feeds.each do |feed| %>
<div style="width:48%;" class="left">
    <div class="label" style="text-align:left;"><%= feed.channel.title %></div>
    <ul class="links">
    <% feed.items.each_with_index { |cur_item,i| %>
        <% if i < 6 %>
        <li><a href="<%= cur_item.link %>" title="<%= clean_feed_description(cur_item.description) %>"><%= cur_item.title[0,50] %></a></li>
        <% end %>
    <% } %>
    </ul>
</div>
<% end %>

<div style="clear: left;"></div>

<% unless @due_today.empty? %>
<span class="label">due today:</span>
<ul>
    <% for reminder in @due_today %>
    <li><%= reminder.description[0,40] + (reminder.description.length > 40 ? '...' : '') %></li>
    <% end %>
</ul>
<% end %>

<div>
    <span class="label">next milestone:</span>  
    <%= @milestone.name %>
    <input type="text" class="milestone_time" id="<%= @milestone.id %>"/>
    
    <script type="text/javascript">
        count('<%= @milestone.id %>', '<%= @milestone.milestone_at %>');
    </script>
</div>
