<% form_for(@link) do |f| %>
  
  <table cellpadding="3" cellspacing="0" border="0">
      <tr>
          <td id="errors" colspan="5">
              f.error_messages</td>
              <% if flash[:notice] %>
                  <div class="notice"><%=h flash["notice"] %></div>
              <% end %></td></tr>
      <tr>
      <br />
          <td><%= f.label(:name) %></td>
          <td><%= f.text_field(:name, :size => '60', :class => 'text') %></td></tr>
      <tr>
          <td><%= f.label(:url) %></td>
          <td><%= f.text_field(:url, :size => '60', :class => 'text') %></td></tr>    
      <tr>
          <td><%= f.label(:tags) %></td>
          <td><%= f.text_field(:tags, :size => '60', :class => 'text') %></td></tr>
      <tr>
          <td><%= f.label(:comments) %></td>
          <td><%= f.text_field(:comments, :size => '60', :class => 'text') %></td></tr>
      <tr>
          <td><%= f.label(:expires_on) %></td>
          <td><%= f.text_field(:expires_on, :size => '12', :class => 'text calendar') %></td></tr>
      <tr>
          <td><%= f.label(:clicks) %></td>
          <td><%= f.text_field(:clicks, :size => '5', :class => 'text') %></td></tr>
      <% if @link.last_clicked %>
      <tr>
          <td><%= f.label(:last_clicked) %></td>
          <td><%= @link.last_clicked.strftime(DATE_FORMAT) %></td></tr>
      <% end %>
      <tr>
          <td>&nbsp;</td>
          <td class="submit">
              <%= f.submit 'create' %></td></tr>
    </table>

<% end %>