<p>
  <b>Url:</b>
  <%=h @link.url %>
</p>

<p>
  <b>Name:</b>
  <%=h @link.name %>
</p>

<p>
  <b>Tags:</b>
  <%=h @link.tags %>
</p>

<p>
  <b>Comments:</b>
  <%=h @link.comments %>
</p>

<p>
  <b>Clicks:</b>
  <%=h @link.clicks %>
</p>

<p>
  <b>Lastclicked:</b>
  <%=h @link.lastClicked %>
</p>

<p>
  <b>Expireson:</b>
  <%=h @link.expiresOn %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>