<script type="text/javascript">
    function paymentType() {
        if ('transfer' == document.getElementById('payment_payment_type').value) {
            document.getElementById('transferFrom').style.display = "inline";
        } else {
            document.getElementById('transferFrom').value = "";
            document.getElementById('transferFrom').style.display = "none";
        }
    }
    function addTag() {
        var choice = document.getElementById('tags').value;
        document.getElementById('payment_tags').value += choice + ' ';
        if ('' == document.getElementById('payment_description').value) {
            document.getElementById('payment_description').value = choice;
        }
    }
    function addSchedule() {
        if ('' == document.getElementById('payment_description').value) {
            var i = document.getElementById('payment_schedule_id').selectedIndex;
            var t = document.getElementById('payment_schedule_id').options[i].text;
            document.getElementById('payment_description').value = t;
        }
    }
</script>

<% form_for(@payment) do |f| %>

<div class="field">
    <div class="left_label">type</div>
    <%= f.select('payment_type', @payment_types, {}, :onchange => 'paymentType()') %></div>
<div class="field" id="transferFrom" style="display:none;">
    <div class="left_label">from</div>
    <%= f.select('transfer_from', @accounts.collect {|a| [a.name, a.id] }, :include_blank => true) %></div>
<script type="text/javascript">paymentType();</script>
<div class="field">
    <div class="left_label">account</div>
    <%= f.select('account_id', @accounts.collect {|a| [a.name, a.id] }, :include_blank => true) %></div>
<div class="field">
    <div class="left_label">date</div>
    <%= calendar('payment','payment_on') %></div>
<div class="field" style="margin-left: 20px;">
    <div class="left_label">amount</div>
    <%= f.text_field('amount', :size => '7', :class => 'text') %></div>
<div class="field">
    <div class="left_label">name</div>
    <%= f.text_field('description', :size => '25', :class => 'text') %></div>
<div class="clear">&nbsp;</div>
<div class="field">
    <div class="left_label">tags</div>
    <%= select_tag('tags', options_for_select(@tags), :onchange => 'addTag()') %></div>
<div class="field">
    <div class="left_label">tags</div>
    <%= f.text_field('tags', :size => '30', :class => 'text') %></div>
<div class="field">
    <%= f.submit('go', :style => 'height:3.5em;') %></div>
<div class="clear">&nbsp;</div>

<% end %>
