<script type="text/javascript">
    function paymentType() {
        if ('transfer' == document.getElementById('payment_payment_type').value) {
            document.getElementById('transferFrom').style.display = "inline";
        } else {
            document.getElementById('transferFrom').value = "";
            document.getElementById('transferFrom').style.display = "none";
        }
    }
    function addTag() {
        var choice = document.getElementById('tags').value;
        document.getElementById('payment_tags').value += choice + ' ';
        if ('' == document.getElementById('payment_description').value) {
            document.getElementById('payment_description').value = choice;
        }
    }
    function addSchedule() {
        if ('' == document.getElementById('payment_description').value) {
            var i = document.getElementById('payment_schedule_id').selectedIndex;
            var t = document.getElementById('payment_schedule_id').options[i].text;
            document.getElementById('payment_description').value = t;
        }
    }
</script>

<% form_for(@payment) do |f| %>

<% if @user %>
    <%= hidden_field_tag('payment[person_id]', @user.id) %>
<% end %>

<table cellpadding="3" cellspacing="0" border="0">
    <tr>
        <td>
            <%= f.label(:type) %>
            <%= f.select(:payment_type, @payment_types, {}, :onchange => 'paymentType()') %></td>
        <td>
            <%= f.label(:account) %>
            <%= f.select(:account_id, @accounts.collect {|a| [a.name, a.id] }, :include_blank => true) %></td>
        <td>
            <div id="transferFrom" style="display:none;">
                <%= f.label(:from) %>
                <%= f.select(:transfer_from, @accounts.collect {|a| [a.name, a.id] }, :include_blank => true) %>
            </div>
            <script type="text/javascript">paymentType();</script></td></tr>
    <tr>
        <td>
            <%= f.label(:amount) %>
            <%= f.text_field(:amount, :size => '7', :class => 'text') %></td>
        <td>
            <%= label(:payment, :payment_on, "Date") %>
      <%= f.text_field(:payment_on, :size => '12', :class => 'text calendar today') %></td>
        <td>
            <%= f.label(:name) %>
            <%= f.text_field(:description, :size => '25', :class => 'text') %></td></tr>
    <tr>
        <td>
            <%= f.label(:frequency) %>
            <%= f.select(:frequency, Lookup.get_list('freq').collect {|l| [ l.description, l.id ] }, { :include_blank => true }) %></td>
        <td>
            <%= label(:payment, :until) %>
      <%= f.text_field(:until, :size => '12', :class => 'text calendar') %></td>
        <td>&nbsp;</td></tr>
    <tr>
        <td colspan="2">
            <%= f.label(:tags) %>
            <%= select_tag('tags', options_for_select(@tags), :onchange => 'addTag()') %>
            <%= f.text_field('tags', :size => '30', :class => 'text') %></td>
        <td>
            <%= f.submit('go', :style => 'height:3.0em;') %></td></tr>
</table>

<% end %>
