<tr class="<%= payment_counter.modulo(2).nonzero? ? "dataOn" : "dataOff" %>">
    <td><%= payment.description[0,25] + (payment.description.length > 25 ? '...' : '') %></td>
    <td class="<%= payment.payment_type? %>_amount"><%= number_to_currency(payment.amount.abs) %></td>
    <td><%= payment.account.name %></td>
    <td><%= payment.payment_on.strftime("%b %d") %></td>
    <td><%= link_to_remote('edit', {:update => 'form', :method => :get, :url => edit_payment_path(payment)}, {:onclick => "showForm('form');"}) %></td></tr>