<tr class="<%= payment_counter.modulo(2).nonzero? ? "dataOn" : "dataOff" %>">
    <td>
    <%= link_to(payment.description[0,40] + (payment.description.length > 40 ? '...' : ''), edit_payment_path(payment), :class => 'get') %></td>
    <td class="<%= payment.payment_type? %>_amount"><%= number_to_currency(payment.amount.abs) %></td>
    <td><%= payment.account.name %></td>
    <td><%= payment.payment_on.strftime("%b %d") %></td>
    <td><%= link_to(image_tag("detail.png", :size => "15x15", :border => 0), payment_path(payment), :class => 'get') %></td></tr>