<div id="future-payment-list" class="card mb-2">
    <div class="card-header"><h5>upcoming</h5></div>
    <div class="card-body">
        <table class="table table-sm table-hover mb-0">
            <tbody>
                <% @upcoming_payments.each do |payment| %>
                    <tr>
                        <td><%= condense(payment.description) %></td>
                        <td><div class="<%= "#{payment.type}-amount" %>"><%= number_to_currency payment.amount %></div></td>
                        <td><%= payment.account_name %></td>
                        <td>in <%= (payment.next_due - Date.today).to_i %> days</td></tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>
