<!-- hidden elements -->
<div id="account-form" class="modal fade"></div>
<div id="payment-form" class="modal fade"></div>

<% if @money_summary %>
  <div class="payment-dashboard">
    <div class="item">last 30 days:</div>
    <div class="item"><div class="data"><%= number_to_currency @money_summary[:net_change] %></div>net change</div>
    <div class="item"><div class="data"><%= number_to_currency @money_summary[:per_day] %></div>per day</div>
    <div class="item"><div class="data"><%= @money_summary[:buy_nothing_days] %></div>buy nothing days</div>
    <div class="item"><div class="data"><%= number_to_currency @money_summary[:balance] %></div>net worth</div>
    <div class="clear"></div>
  </div> <!-- end .dashboard -->
<% end %>

<div class="payments-panel">
  <div class="reports-panel">
      <div class="btn-group" data-toggle="buttons-radio">
        <button type="button" class="btn btn-primary btn-show-top-tags active">top tags</button>
        <button type="button" class="btn btn-primary btn-show-accounts">accounts</button>
      </div>
    <%= render 'accounts' %>
    <%= render 'expenses_by_tag' %>
  </div>
  <div class="list-panel">
    <div id="future-payment-list">
      <%= render partial: 'upcoming' %>
    </div>

    <%= render partial: 'shared/search_form' %>
    <%= render partial: 'shared/control_buttons', locals: { new_record_path: new_payment_path } %>

    <div id="payment-list">
      <%= render partial: 'payments' %>
    </div>

    <div class="tag-list">
      <%= tag_list 'payment' %>
    </div>
  </div>
  <div class="clear"></div>
</div> <!-- end .payments-panel -->
