<% if @money_summary %>
    <div class="shaded_box">
        <table width="100%" border="0">
            <tr>
                <td>last 30 days:</td>
                <td><div class="summary_data"><%= number_to_currency @money_summary.net_change %></div>net change</td>
                <td><div class="summary_data"><%= number_to_currency @money_summary.per_day %></div>per day</td>
                <td><div class="summary_data"><%= @money_summary.buy_nothing_days %></div>buy nothing days</td>
                <td><div class="summary_data"><%= number_to_currency @money_summary.balance %></div>net worth</td></tr>
        </table>
    </div>
<% end %>

<div id="foo"></div>

<div class="toggle_form" id="payment_form" style="display:none;">
    <%= render(:partial => 'form') %>
</div>

<div id="money_left">
    <div class="box">
        <div class="box_header">accounts</div>
        <div class="box_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="2">
            <%= render(:partial => 'accounts/account.html', :collection => @accounts) %>
            </table>
        </div>
        <div class="box_buttons">
            <%= link_to('new account', new_account_path ) %>
        </div>
    </div> <!-- end money_accounts -->
    <%= render(:partial => 'expenses_by_tag') %>
</div> <!-- end money_left -->

<% unless @upcoming_payments.empty? %>
    <div id="money_upcoming" class="box">
        <div class="box_header">upcoming</div>
        <div class="box_content">
            <table width="100%" border="0" cellspacing="0" cellpadding="2">
            <%= render :partial => 'upcoming', :collection => @upcoming_payments %>
            </table>
        </div>
    </div> <!-- end money_upcoming -->
    &nbsp;
<% end %>

<div id="money_payments" class="box">
    <div class="box_header">
        transactions
        <span style="float:right">
            <%= link_to(image_tag('add.png', :size => '15x15', :border => 0), '#', :class => 'toggle_form_trigger') %>
        </span>
    </div>
    <div class="box_content">
        <table width="100%" border="0" cellspacing="0" cellpadding="2">
        <%= render(:partial => 'payment', :collection => @payments) %>
        </table>
    </div>
</div> <!-- end money_payments -->

<div class="clear">&nbsp;</div>