<% form_for(@journal) do |f| %>

<% if session[:user_id] %>
    <%= hidden_field_tag('journal[person_id]',session[:user_id]) %>
<% end %>
<table cellpadding="3" cellspacing="0" border="0">
    <tr>
        <td id="errors" colspan="5">
            <% unless @journal.errors.empty? %>
                <ul>
                <% @journal.errors.each_full do |message| %>
                    <li><%= message %></li>
                <% end %>
                </ul>
            <% end %></td>
            <% if flash[:notice] %>
                <div class="notice"><%=h flash[:notice] %></div>
            <% end %></td></tr>
    <tr>
        <td><%= label(:journal, :entry_on, 'Date') %></td>
        <td><%= calendar('journal','entry_on') %></td>
        <td><%= f.label(:type) %></td>
        <td>
            <%= f.select('journal_type', Lookup.find_all_by_category(30).collect {|l| [ l.description, l.id ] }) %></td>
        <td rowspan="2">&nbsp;</td></tr>    
    <tr>
        <td><%= f.label(:entry) %></td>
        <td colspan="3" rowspan="2"><%= f.text_area('entry', :cols => 60, :rows => 5) %></td></tr>
    <tr>
        <td>&nbsp;</td>
        <td class="submit">
            <%= f.submit(@journal.id ? 'update' : 'create') %></td></tr>
</table>

<% end %>
