<% form_for(@journal) do |f| %>

<% if @user %>
    <%= hidden_field_tag('journal[person_id]', @user.id) %>
<% end %>

<fieldset>
  <ol>   
  <li>
        <%= f.label(:type) %>
        <%= f.select('journal_type', Lookup.get_list('jour_type').collect {|l| [ l.description, l.id ] }) %></li>
  <li>
    <%= label(:journal, :entry_on, 'Date') %>
        <%= f.text_field(:entry_on, :size => '12', :class => 'calendar today') %></li>
    <li>
        <%= f.label(:entry) %></td>
        <%= f.text_area('entry', :cols => 50, :rows => 10) %></li></ol></fieldset>
<fieldset class="submit">
    <%= f.submit(@journal.id ? 'update' : 'create') %></fieldset>
</table>

<% end %>
