<%= filters_links %>
<table class="table table-sm table-hover">
    <thead>
        <tr><th>date</th><th>type</th><th>entry</th><th>actions</th></tr>
    </thead>
    <tbody>
    <% @journals.each do |journal| %>
        <tr>
            <td><%= link_to(journal.entry_on.strftime("%a %b %d, %y"), edit_journal_path(journal), remote: true, class: 'tip', data: { toggle: 'tooltip' }, title: "edit entry") %></td>
            <td><%= journal.journal_type.description if journal.journal_type %></td>
            <td><%= journal.entry[0,60] %></td>
            <td class="actions text-nowrap">
                <%= render partial: 'shared/action_links', locals: { path: journal_path(journal), copy_path: new_journal_path(journal_id: journal), label: 'entry', allow_delete: true } %>
            </td>
        </tr>
    <% end %>
    </tbody>
</table>
<%= paginate @journals %>
