<!-- hidden elements -->
<div id="journal-show" class="modal hide fade"></div>
<div id="journal-form" class="modal hide fade"></div>

<!-- search form -->
<div id="search" class="collapse">
    <%= form_tag({:action => 'index'}, :method => 'get', :class => 'form-search') do %>
        <div class="input-append">
            <%= text_field_tag(:q, h(params[:q]), :class => 'input-medium search-query') %>
            <%= submit_tag('search', :class => 'btn') %>
        </div>
    <% end %>
</div>
    
<div class="pull-right">
    <%= link_to(new_journal_path, :remote => true, :class => "btn btn-primary") do %>
        <i class="icon-plus icon-white"></i> add
    <% end %>
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#search">
      <i class="icon-search icon-white"></i> find
    </button>
</div>

<div id="journal-list" class="data-list">
    <%= render(:partial => 'journals') %>
</div>

<div class="tag-list">
    tags:
    <%= tag_list(session[:journal_tags], 'journals') %>
</div>