<!DOCTYPE html>
<html>
<head>
  <title>brainpad</title>
  <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <meta name="description" content="raceweb photo galleries"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico" />
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="container">

    <div id="header">
      <%= image_tag("headers/#{rand(19).to_s}.jpg", size: '920x160') %>
    </div>

    <ul nowrap id="nav">
      <% c = params[:controller] %>
      <li><%= link_to('home',       links_path, c.include?('link') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('contacts',   contacts_path, c.include?('contact') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('workouts',   workouts_path, c.include?('workout') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('money',      payments_path, c.include?('payment') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('journal' ,   journals_path, c.include?('journal') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('calendar' ,  reminders_path, c.include?('reminder') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('photos' ,  'http://photo.brainpad.ca', target: '_blank' ) %></li>
      <li><%= link_to('conn' ,      connections_path, c.include?('connection') ? {id: 'selected'} : nil ) %></li>
      <li><%= link_to('milestones', milestones_path, c.include?('milestone') ? {id: 'selected'} : nil ) %></li>
    </ul>
    <div style="clear:both;"></div>

    <!-- main content -->
    <div id="content">
      <% flash.each do |name, msg| %>
        <div class="alert alert-dismissible alert-<%= name == 'notice' ? 'success' : name %>">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <strong><%= name %></strong>: <%= msg %>
        </div>
      <% end %>
      <%= yield %>
    </div> <!-- end #content -->
  </div> <!-- end #container-->

  <footer>
    <div class="footer-content">
      <div class="row footer-links">
        <div class="col-sm-12 text-center">
          <a href="javascript:location.href='http://brainpad.raceweb.ca/links/new?url='+encodeURIComponent(location.href)+'&name='+encodeURIComponent(document.title)" class="tip" title="drag this link to the bookmarks bar and use it to add links">poster</a> <strong>||</strong>
          logged in as <%= current_user.username %> <strong>||</strong>
          <%= link_to('profile', edit_person_path(current_user), { remote: true, title: 'change my deets', class: 'tip' }) %> <strong>||</strong>
          <%= link_to('log out', logout_path, { title: 'get me out of here', class: 'tip' }) %> ||
          <%= "you've used #{current_user.age_in_days.to_i} days and have #{current_user.days_left.to_i} left." if current_user.born_on %> <strong>||</strong>
          <a href="mailto:info@raceweb.ca">info@raceweb.ca</a> <strong>||</strong>
          &copy <%= Date.today.year %> raceweb.ca <strong>||</strong>
          <%= link_to('rev', '#', { title: GIT_REVISION, class: 'tip' }) %> <strong>||</strong>
          <%= link_to('who', '#', { title: WHOAMI, class: 'tip' })

        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <form method="get" action="http://www.google.ca/custom" class="form-inline pull-left">
            <input type="hidden" name="domains" value=""></input>
            <div class="form-group">
              <div class="input-group">
                <input type="text" name="q" size="30" maxlength="255" value="" class="form-control input-sm">
                <div class="input-group-addon">google</div>
              </div>
            </div>
            <input type="hidden" name="client" value="pub-2435759852249095"></input>
            <input type="hidden" name="forid" value="1"></input>
            <input type="hidden" name="ie" value="ISO-8859-1"></input>
            <input type="hidden" name="oe" value="ISO-8859-1"></input>
            <input type="hidden" name="cof" value="GALT:#0066CC;GL:1;DIV:#999999;VLC:336633;AH:center;BGC:FFFFFF;LBGC:FF9900;ALC:0066CC;LC:0066CC;T:000000;GFNT:666666;GIMP:666666;LH:40;LW:100;L:http://www.raceweb.ca/images/raceweb_logo.gif;S:http://www.raceweb.ca;LP:1;FORID:1;"></input>
            <input type="hidden" name="hl" value="en"></input>
          </form>
        </div>
        <div class="col-sm-4">
          <form action="http://en.wikipedia.org/wiki/Special:Search" class="form-inline center-block">
            <div class="form-group">
              <div class="input-group">
                <input id="searchInput" name="search" type="text" accesskey="f" size="30" class="form-control input-sm" />
                <div class="input-group-addon">wikipedia</div>
              </div>
            </div>
          </form>
        </div>
        <div class="col-sm-4">
          <form method="get" action="http://www.google.com/custom" class="form-inline pull-right">
            <div class="form-group">
              <div class="input-group">
                <input type="hidden" name="hl" value="en">
                <input type="hidden" name="lr" value="">
                <input type="hidden" name="client" value="google-coop">
                <input type="hidden" name="cof" value="L:http://vdoogle.com/logo.jpg;LH:30;LP:1;LC:#FF0000;VLC:#663399;GALT:#0000FF;DIV:#000000;AH:left;S:http://www.vdoogle.com;CX:VDoogle%20Shared%20Video%20Search;">
                <input type="hidden" id="custom" name="cx" value="000107741605447063584:pet3xpnnzve">
                <input type="text" name="q" size="30" maxlength="2048" class="form-control input-sm">
                <div class="input-group-addon">video</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </footer>
  <!-- hidden divs -->
  <div id="modal_dialog" class="modal fade"></div>
</body>
</html>
