<!DOCTYPE html>
<html>
<head>
    <title>brainpad</title>
    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="description" content="raceweb photo galleries"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon.ico" />
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
</head>

<body>
    <div id="content">
        <div class="container-fluid">
            <!-- messages -->
            <div id="messages" class="row">
                <% flash.each do |name, msg| %>
                    <div class="alert col-12 alert-dismissible alert-<%= name == 'notice' ? 'success' : name %>">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <strong><%= name %></strong>: <%= msg %>
                    </div>
                <% end %>
            </div>
            <!-- main content -->
            <%= yield %>
        </div> <!-- end .container-fluid -->
    </div> <!-- end #content-->

    <!-- hidden modal forms -->
    <div id="modal-dialog" class="modal"></div>
</body>
</html>
