<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Url</th>
    <th>Price url</th>
    <th>Description</th>
    <th>Account type</th>
    <th>Units</th>
    <th>Price</th>
    <th>Active</th>
    <th>Person</th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%=h account.name %></td>
    <td><%=h account.url %></td>
    <td><%=h account.price_url %></td>
    <td><%=h account.description %></td>
    <td><%=h account.account_type %></td>
    <td><%=h account.units %></td>
    <td><%=h account.price %></td>
    <td><%=h account.active %></td>
    <td><%=h account.person_id %></td>
    <td><%= link_to 'Show', account %></td>
    <td><%= link_to 'Edit', edit_account_path(account) %></td>
    <td><%= link_to 'Destroy', account, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New account', new_account_path %>