<p>
  <b>Name:</b>
  <%=h @account.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @account.url %>
</p>

<p>
  <b>Price url:</b>
  <%=h @account.price_url %>
</p>

<p>
  <b>Description:</b>
  <%=h @account.description %>
</p>

<p>
  <b>Account type:</b>
  <%=h @account.account_type %>
</p>

<p>
  <b>Units:</b>
  <%=h @account.units %>
</p>

<p>
  <b>Price:</b>
  <%=h @account.price %>
</p>

<p>
  <b>Active:</b>
  <%=h @account.active %>
</p>

<p>
  <b>Person:</b>
  <%=h @account.person_id %>
</p>


<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>